server:             irc.quakenet.org
channels:           #html.de #html.de.selbsthilfe #css.de #perl.de #php.de
ignore_channels:    #html.de.selbsthilfe #perl.de
nick_templates:     papa paapa pappa papaa apa pap paap pappa
min_messages:       100
talk_count_max:     20
choose_ratio:       0.1
talk_pause_min:     5
talk_pause_max:     20
highlight_ratio:    0.5
verbose:            1
web_refresh:        10
web_username:       foo
web_password:       bar
